# Ignore virtual environment
venv/

# Ignore PyCache
__pycache__/

# Ignore database files
*.sqlite3

# Ignore VS Code settings (if using VS Code)
.vscode/

# Ignore environment variables
.env

__pycache__/
*.pyc
*.pyo
*.pyd


